<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="site/css/style.css">
    <title>Basico</title>
</head>

<body>

    <h1>titulo</h1>

    <h3 class="h3-titulo-segundo">h3-titulo-segundo</h3>
    
    <h3 class="h3-titulo-segundo">h3-titulo-segundo bis</h3>
    
    <p id="parrafo">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi et velit adipisci vitae nisi rem sequi
        consectetur blanditiis voluptatum in repellendus nobis veniam vel, hic incidunt culpa nostrum! Voluptates,
        explicabo.</p>

        <ul id="lista">
            
        </ul>

    <script src="site/js/script.js"></script>
</body>

</html>